﻿@model IEnumerable<Common.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_NotificationPartial")



<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    <form method="post" action="\items\SearchByCategory">
        <input type="text" name="category" />
        <input type="submit" value="submit" />
    </form>
</div>


<form method="post" action="\items\DeleteItems">
    <table class="table table-hover table-responsive-sm">
        <tr>
            <th><input type="submit" value="Delete" /></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Category
            </th>
            <th></th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" value="@item.Id" name="items" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCategory.Title)
                </td>
                <td>
                    @if (item.ImagePath != "")
                    {
                    <img src="@item.ImagePath" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <a href="\Items\DownloadItem?id=@item.ImagePath">Download</a> |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

  

</form>

